<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146895671-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-146895671-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome! Tianshi Wang's website</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../static/css/clean-blog.min.css" rel="stylesheet">

</head>



<body>
<!--navbar navbar-default navbar-fixed-top nav nav-pills-->
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index" style="color: black;" onmouseover="this.style.color='#0077B5'";
      onmouseout="this.style.color='black'"; >Tianshi Wang's website</a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav   ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="index" style="color: black;" onmouseover="this.style.color='#0077B5'"; onmouseout="this.style.color='black'";>
                Home
            </a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="about">About</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="post">Sample Post</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="contact">Contact</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link" href="buy2sell" style="color: black;" onmouseover="this.style.color='#0077B5'"
               onmouseout="this.style.color='black'">Insight Project
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/home-bg.jpg');  height: 550px" >
    <div class="overlay" style="opacity: 0.2; background-color: #ced4da"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2 style="font-family: cursive; color:black; font-weight: bolder">Welcome to my website!</h2>
            <p  style="text-align: justify; color:black; font-weight:500; margin: 20px 0px 10px 0px;">
                  I am a quantatitive researcher at
                  <a href="https://www.chathamfinancial.com" style="color:#0077B5;font-weight:500; text-decoration: None "
                    onmouseover="this.style.color='navy'"; onmouseout="this.style.color='#0077B5'">Chatham Financial
                  </a>
                  working on mathematical models and also an enthusiastic data scientist.
                  On this site, you can find details on my background, experience, skills and more. <br>
                  For any question, please don’t hesitate to reach out.
            </p>

            <p class="post-meta" align="left" style="color:black;font-weight:600; font-family: sans-serif">
                Tianshi Wang, Ph.D. <br>
            </p>

            <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/tianshi-wang/">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#0077B5"></i>
                  <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="https://github.com/tianshi-wang">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="mailto:tianshi_wang@outlook.com">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#00a1f1"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          </li>

          </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h3 class="post-title" style="color:#0077B5; text-decoration-color: #1b1e21;"
                onmouseover="this.style.color='navy'"; onmouseout="this.style.color='#0077B5'"
            >
              Data Science and Machine Learning
            </h3>
          </a>
          <p style="font-weight: bolder; padding: 0px; margin:  10px 0px 10px 0px; text-align: justify;">
            Buy2Sell, converting collectors to sellers in an online marketplace<br>
            <span style="font-family: 'Calibri Light'; text-align: justify;font-weight: normal; font-style: italic; padding: 0px; margin: 0px">
              a project completed during my
              <a href="https://www.insightdatascience.com/" style="color:#0077B5;font-weight:500; text-decoration: None ">
                Insight Data Science fellowship
              </a>
            </span>
          </p>

          <p style="font-family: 'Calibri Light'; LINE-HEIGHT:24px; padding: 0px; margin: 10px 0px 0px 0px; text-align: justify;">
            Covetly suffers from the high variance of inventory levels across categories. To add inventory for
            categories in shortage, the client expects this project to suggest a list of collectors who can be
            prompted to sell. This project:
          </p>
          <ul style="font-family: 'Calibri Light'; padding: 0px; margin: 0px; border: 0px">
            <li>Consolidated 7 Million user behavior records from client’s MongoDB and MSSQL databases</li>
            <li>Used supervised learning classification to recommend potential sellers with 80% confidence level</li>
            <li>Built a dashboard with real-time updates with Dash and Flask deployed on AWS EC2 and cache data stored on AWS RDS</li>
          </ul>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="buy2sell">Check the demo &rarr;</a>
          </div>
          <!--<p class="post-meta">Posted by-->
            <!--<a href="#">Start Bootstrap</a>-->
            <!--on September 24, 2019</p>-->
        </div>


        <p style="font-weight: bolder; padding: 0px; margin:  20px 0px 10px 0px;">
          Metal/nonmetal Classification and Bandgap Prediction <br>
          <span style="font-family: 'Calibri Light'; font-weight: normal; font-style: italic; padding: 0px; margin: 0px">
            a research project completed during my Ph.D. in Materials Science at the
            <a href="https://www.udel.edu" style="color:#0077B5;font-weight:500; text-decoration: None ">
              University of Delaware
            </a>
          </span>
        </p>

        <p style="font-family: 'Calibri Light'; LINE-HEIGHT:24px; padding: 0px; margin: 10px 0px 0px 0px; text-align: justify;">
          The workflow below shows how the code works for classifying metal/nonmetal and predicting band gaps.
          The data ingestion module collects 44 features for each of the ~4100 materials from databases such as
          MaterialsProject . Then, the collected data is used to train support vector machine (SVM) classifier and
          SVM regression. Finally, we test the models on test set. The result shows the trained model can separate
          metal/nonmetal with an accuracy of ~90% and the bandgap prediction accuracy (RMSE = 0.7 eV) outperforms
          DFT-LDA calculations.<br>

          <img src="../static/img/workflow-wt.jpg" alt="Workflow of the Metal/nonmetal Classification and Bandgap Prediction"
               style="width:735px;height:525px;">
        </p>
        <p style="font-family: 'Calibri Light'; font-style: italic; font-weight: lighter; font-size: smaller;
        text-align: center ; padding: 0px; margin: 10px 0px 10px 0px">
          Workflow of the developed code for metal/nonmetal classification and bandgap projection
        </p>


        <p style="font-weight: bolder; padding: 0px; margin:  20px 0px 10px 0px;">
          Stock Clustering and Selection from S&P500 <br>
        </p>

        <p style="font-family: 'Calibri Light'; LINE-HEIGHT:24px; padding: 0px; margin: 10px 0px 0px 0px; text-align: justify;">
          This algorithm assumes stocks which performed similarly in the past will likely continue doing so in the near
          future. Therefore, it is regarded as a buy single if a stock performed worse than others in a cluster.
          S&P500 stocks are clustered by their daily performance from 201401 to 201801 using KMeans method.
          Based on their performance during 201802-201805,  ~40 underperformed (to-buy) and outperformed (to-sell)
          stocks are selected. The selected to-buy stocks return 2.2% in 201806 (or 26% annually) compared to 0.5%
          for market and -0.6% for to-sell stocks.
        </p>
        <div style="display: flex; justify-content: center; margin: 10px 0px 0px 0px; padding: 0px">
          <img src="../static/img/stock.png" alt="Workflow of the Metal/nonmetal Classification and Bandgap Prediction"
               style="width:600px; height:450px; ">
        </div>
        <p style="font-family: 'Calibri Light'; font-style: italic; font-weight: lighter; font-size: smaller;
        text-align: center ; padding: 0px; margin: 0px 0px 10px 0px">
          Diagram of stock-selection procedure using this algorithm
        </p>



        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h3 class="post-title" style="color:#0077B5; text-decoration-color: #1b1e21;"
                onmouseover="this.style.color='navy'"; onmouseout="this.style.color='#0077B5'">
              Software Development
            </h3>
          </a>

          <p style="font-family: 'Calibri Light'; LINE-HEIGHT:24px; padding: 0px; margin: 10px 0px 0px 0px">
            Code development to solve real-world problems is important for me. In addition, I have gained experiences of
            large-scale scientific computing using clusters e.g. SDSC Comet and UTexas Stampede. In the below example,
            I demonstrate a code which I and Wei Li developed for simulation of epitaxial growth process in molecular
            beam epitaxy (MBE).  Using this code, you can observe different growth morphologies: statistically roughing,
            step-flow, and islanding by tuning the input parameters. The code was first written in Python and Cython by
            us based on the KMCInterative code. However, to increase running speed, we finally wrote it in C++ using QT
            and OpenGL libraries.
          </p>

          <nav>
            <ul style="font-family: 'Calibri Light'; LINE-HEIGHT:24px; padding: 0px; margin: 10px 0px 0px 0px">
              <p style="font-family: 'Calibri Light'; LINE-HEIGHT:24px; padding: 0px; margin: 10px 0px 10px 0px">
                The features of this code are summaries as follows:
              </p>
              <li> Two threads design: one for 3D rending and the other for Monte-Carlo calculations.</li>
              <li>Helpful thread control which allows users to pause, resume, and restart the calculations.</li>
              <li>More than 40 input/output functions enabling easy control of the code</li>
              <li>Portable i.e. no installation needed and available for both Windows and MacOS</li>
            </ul>
          </nav>

          <div style="display: flex; justify-content: center; margin: 10px 0px 0px 0px; padding: 0px">
            <img src="../static/img/MBE.png" alt="Screenshot of the MBE Growth Simulation Tool"
               style="width:500px; height:533px; ">
          </div>

        </div>



        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">More to be added&rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!--&lt;!&ndash; Footer &ndash;&gt;-->
  <!--<footer>-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-8 col-md-10 mx-auto">-->
          <!--<ul class="list-inline text-center">-->
            <!--<li class="list-inline-item">-->
              <!--<a href="#">-->
                <!--<span class="fa-stack fa-lg">-->
                  <!--<i class="fas fa-circle fa-stack-2x"></i>-->
                  <!--<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="list-inline-item">-->
              <!--<a href="#">-->
                <!--<span class="fa-stack fa-lg">-->
                  <!--<i class="fas fa-circle fa-stack-2x"></i>-->
                  <!--<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="list-inline-item">-->
              <!--<a href="#">-->
                <!--<span class="fa-stack fa-lg">-->
                  <!--<i class="fas fa-circle fa-stack-2x"></i>-->
                  <!--<i class="fab fa-github fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<p class="copyright text-muted">Copyright &copy; Your Website 2019</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</footer>-->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/clean-blog.min.js"></script>

</body>

</html>
